#tm-ecommerce-bar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;
}

#tm-ecommerce-bar img {
    border: 0;
}

#tm-ecommerce-bar {
    display: block!important;
    width: 100%;
    height: 30px;
    background: #363636;
}

#tm-ecommerce-bar .tm-ecom-content {
    min-width: 960px;
    max-width: 990px;
    margin: 0 auto;
}

#tm-ecommerce-bar .tm-ecom-main {
    float: left;
    width: 20%;
    height: 30px;
}

#tm-ecommerce-bar .info {
    position: absolute;
    z-index: 9999;
    top: 25px;
    left: 50%;
    visibility: hidden;
    width: 170px;
    cursor: default;
    transition: visibility 0s linear .7s,opacity .7s linear;
    text-align: left;
    opacity: 0;
    color: #000;
    background: transparent url(https://stc.pagseguro.uol.com.br/pagseguro/i/ibanking/seta-balao.png) no-repeat 1px top;
}

#tm-ecommerce-bar .info span{
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-top: 0;
    background: #fff;
}

#tm-ecommerce-bar .tm-ecom-logo:hover .info, #tm-ecommerce-bar .tm-ecom-home:hover .info {
    visibility: visible;
    transition-delay: .5s;
    opacity: 1;
}

#tm-ecommerce-bar .tm-ecom-logo {
    position: relative;
    float: left;
}

#tm-ecommerce-bar .tm-ecom-logo img {
    margin-top: 5px;
}

#tm-ecommerce-bar .tm-ecom-home {
    position: relative;
    float: left;
    margin-left: 15px;
    text-align: center;
    border-right: 1px solid #404040;
    border-left: 1px solid #404040;
}

#tm-ecommerce-bar .tm-ecom-home a {
    display: block;
    height: 30px;
}

#tm-ecommerce-bar .tm-ecom-home img {
    margin-top: 6px;
}

#tm-ecommerce-bar .tm-ecom-menu {
    font-size: 11px;
    font-weight: bold;
    float: left;
    width: 80%;
    text-align: right;
}

#tm-ecommerce-bar .tm-ecom-menu li {
    line-height: 30px;
    display: inline-block;
    height: 29px;
    list-style: none;
    text-transform: uppercase;
}

* + html #tm-ecommerce-bar .tm-ecom-menu li {
    float: left;
    zoom: 1;
}

#tm-ecommerce-bar .tm-ecom-menu li:hover {
    border-bottom: 2px solid #484848;
    background: #484848;
}

#tm-ecommerce-bar .tm-ecom-menu li.active {
    border-bottom: 2px solid #e2e2e2;
}

#tm-ecommerce-bar .tm-ecom-menu li.active:hover {
    border-bottom: 2px solid #e2e2e2;
    background-color: transparent;
}

#tm-ecommerce-bar .tm-ecom-menu a.last {
    border-right: 1px solid #404040;
}

#tm-ecommerce-bar .tm-ecom-menu a, #tm-ecommerce-bar .tm-ecom-menu span {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #e2e2e2;
    border-left: 1px solid #404040;
}

#tm-ecommerce-bar .tm-ecom-menu span {
    cursor: default;
}

@media(max-width: 480px) {
    #tm-ecommerce-bar {
        height: inherit;
    }
    
    #tm-ecommerce-bar .tm-ecom-main {
        width: 100%;
        float: none;
    }
    #tm-ecommerce-bar .tm-ecom-content  {
        min-width: 300px;
        margin: 0 auto;
    }

    #tm-ecommerce-bar .tm-ecom-menu {
        width: 100%;
        float: none;
        padding: 33px 0 0 0;
    }

    #tm-ecommerce-bar .tm-ecom-menu li {
        width: 100%;
        text-align: center;
        display: block!important;
    }

    #tm-ecommerce-bar .tm-ecom-menu a, #tm-ecommerce-bar .tm-ecom-menu span {
        border-left: none;
    }

}

/*@media(min-width: 300px) {}*/




<script type="text/css">#tm-ecommerce-bar * {margin: 0;padding: 0;box-sizing: border-box;font-family: "Arial",sans-serif;}#tm-ecommerce-bar img {border: 0;}#tm-ecommerce-bar {display: block!important;width: 100%;height: 30px;background: #363636;}#tm-ecommerce-bar .tm-ecom-content {min-width: 960px;max-width: 990px;margin: 0 auto;}#tm-ecommerce-bar .tm-ecom-main {float: left;width: 20%;height: 30px;}#tm-ecommerce-bar .info {position: absolute;z-index: 9999;top: 25px;left: 50%;visibility: hidden;width: 170px;cursor: default;            transition: visibility 0s linear .7s,opacity .7s linear;            text-align: left;opacity: 0;color: #000;background: transparent url(https://stc.pagseguro.uol.com.br/pagseguro/i/ibanking/seta-balao.png) no-repeat 1px top;}#tm-ecommerce-bar .info span{display: block;margin-top: 5px;padding: 5px 10px;border: 1px solid #000;border-top: 0;background: #fff;}#tm-ecommerce-bar .tm-ecom-logo:hover .info, #tm-ecommerce-bar .tm-ecom-home:hover .info {visibility: visible;transition-delay: .5s;opacity: 1;}#tm-ecommerce-bar .tm-ecom-logo {position: relative;float: left;}#tm-ecommerce-bar .tm-ecom-logo img {margin-top: 5px;}#tm-ecommerce-bar .tm-ecom-home {position: relative;float: left;margin-left: 15px;text-align: center;border-right: 1px solid #404040;border-left: 1px solid #404040;}#tm-ecommerce-bar .tm-ecom-home a {display: block;height: 30px;}#tm-ecommerce-bar .tm-ecom-home img {margin-top: 6px;}#tm-ecommerce-bar .tm-ecom-menu {font-size: 11px;font-weight: bold;float: left;width: 80%;text-align: right;}#tm-ecommerce-bar .tm-ecom-menu li {line-height: 30px;display: inline-block;height: 29px;list-style: none;text-transform: uppercase;}* + html #tm-ecommerce-bar .tm-ecom-menu li {float: left;zoom: 1;}#tm-ecommerce-bar .tm-ecom-menu li:hover {border-bottom: 2px solid #484848;background: #484848;}#tm-ecommerce-bar .tm-ecom-menu li.active {border-bottom: 2px solid #e2e2e2;}#tm-ecommerce-bar .tm-ecom-menu li.active:hover {border-bottom: 2px solid #e2e2e2;background-color: transparent;}#tm-ecommerce-bar .tm-ecom-menu a.last {border-right: 1px solid #404040;}#tm-ecommerce-bar .tm-ecom-menu a, #tm-ecommerce-bar .tm-ecom-menu span {display: block;padding: 0 15px;text-decoration: none;color: #e2e2e2;border-left: 1px solid #404040;}#tm-ecommerce-bar .tm-ecom-menu span {cursor: default;}</script>